@import "../../styles/_variables.sass"
@import "../../styles/_mixins.sass"

.about
  padding-top: 70px
  +r(479.9)
    padding-top: 20px
  &__wrapper
    width: 100%
    max-width: 80%
    margin: 0 auto
    background-color: $lightGray
    padding: 20px 20px 30px
    +r(479.9)
      max-width: 100%
  &__content
    background-color: $white
    border-radius: 10px
    padding: 20px 20px 0
  &__title
    text-transform: uppercase
    font-size: 24px
    font-weight: bold
    margin-bottom: 70px
  &__reviewers
    padding: 0 30px 50px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
    grid-template-rows: minmax(76px, 1fr)
    justify-items: center
    row-gap: 50px
    column-gap: 20px
    grid-auto-rows: 76px
    +r(479.9)
      padding: 0 0 50px

.reviewer
  text-align: center
  &__img
    height: 20px
    width: auto
    object-fit: contain
    margin-bottom: 10px
  &__stars
    margin: 0 auto 10px
  &__star-wrapper
    width: 20px
    height: 20px
    text-align: center
    background-color: $grey
    margin-right: 5px
    border-radius: 3px
    font-size: 12px
    line-height: 20px
    color: $white
    position: relative
    overflow: hidden
    &:last-of-type
      margin-right: 0
  &__star-score
    background-color: $pink
    height: 100%
    width: 0
  &__star
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
  &__text
    color: $grey
  &__link
    color: $grey
    &:visited, &:hover, &:active
      color: $grey


