@import "./_reset.sass"
@import "./_mixins.sass"
@import "./_variables.sass"
@import "fontawesome/scss/fontawesome.scss"
@import "./fontawesome/scss/solid.scss"

body
  font-family: $mainFont

.container
  margin: 0 auto
  max-width: 1140px
  padding: 0 15px
  width: 100%

.flex
  display: flex

.jc-fs
  justify-content: flex-start

.jc-c
  justify-content: center

.jc-fe
  justify-content: flex-end

.jc-sb
  justify-content: space-between

.jc-sa
  justify-content: space-around

.ai-fs
  align-items: flex-start

.ai-c
  align-items: center

.ai-fe
  align-items: flex-end

.ai-b
  align-items: baseline

.fw-w
  flex-wrap: wrap
